* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

.container-header {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
}

.container-link {
  display: flex;
  list-style-type: none;
}

.container-link li {
  height: 100%;
  padding: 5px 5px 0 5px;
  border-bottom: 3px solid white;
}

.container-link li:hover,
.container-link li:active {
  display: block;
  border-bottom: 3px solid #0c7cec;
  width: 100%;
  margin: 0 auto;
}

.container-link li a {
  display: block;
  text-decoration: none;
  color: black;
  font-size: 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 6em 0.5em;
  height: 90%;
}

.container-link li a:hover,
.container-link li a:active,
.container-link li a.active {
  color: #0c7cec;
}

.container-link li .line-blue {
  border: 1px solid white;
}

.container-main {
  background-color: black;
  text-align: center;
  position: relative;
}

.container-main .container-main-top {
  background-image: url(/images/jumbotron.jpg?1b0a3671766964a4114f90322970b124);
  background-repeat: no-repeat;
  height: 400px;
}

.container-main .container-main-bottom {
  width: 80%;
  margin: 0 auto;
  padding: 1em 0;
  display: flex;
  flex-wrap: wrap;
}

.container-main .container-loadmore {
  display: inline-block;
  color: white;
  padding: 0.3em 1em;
  margin: 1em;
  background-color: #0c7cec;
}

.container-main .container-loadmore h2 {
  padding: 0 2em;
  text-transform: uppercase;
}

.container-main .container-current-series {
  display: inline-block;
  color: white;
  padding: 0.3em 1em;
  margin: 1em;
  background-color: #0c7cec;
  position: absolute;
  top: 35.5%;
  left: 180px;
}

.container-main .container-current-series h2 {
  padding: 0 1em;
  font-size: 1.5em;
  text-transform: uppercase;
}

.container-main .product {
  flex-basis: calc(16.6666666667% - 0.4em);
  margin: 0.2em;
  padding: 1em;
}

.container-main .product .container-img {
  overflow: hidden;
  width: 200px;
  height: 200px;
}

.container-main .product .container-img img {
  width: 100%;
}

.container-main .product h2 {
  width: 100%;
  color: white;
  font-size: 0.5em;
  text-transform: uppercase;
  padding: 0.8em 0 0 0;
}

.container-footer-bottom {
  height: 200px;
  background-color: #0c7cec;
}

.container-footer-bottom .container-list {
  display: flex;
  list-style-type: none;
  justify-content: center;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 100%;
  margin: 0 auto;
}

.container-footer-bottom .container-list li {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-transform: uppercase;
}

.container-footer-bottom .container-list li img {
  width: 3em;
  height: auto;
}

.container-footer-bottom .container-list li .small-img {
  width: 2em;
  height: auto;
}

.container-footer-bottom .container-list li span {
  font-size: 0.8em;
  padding: 0.5em;
}

.footer {
  background-image: url(/images/footer-bg.jpg?dfd68d2946f211e1b678af05fd2f830b);
}

.footer .container-footer {
  height: 90%;
  background-image: url(/images/dc-logo-bg.png?f4404ce9dc132a08a47f19e3f73f1417);
  background-repeat: no-repeat;
  background-position: right center;
  padding: 50px 0;
}

.footer .container-footer .container-links {
  width: 80%;
  margin: 0 auto;
  display: flex;
}

.footer .container-footer .container-links h2 {
  color: white;
}

.footer .container-footer .container-links .menu {
  list-style: none;
  margin: 10px 30px 0 0;
}

.footer .container-footer .container-links .menu li {
  margin: 5px 0;
}

.footer .container-footer .container-links .menu li a {
  color: #959595;
  text-decoration: none;
}

.footer .container-footer .container-links .menu li a:hover,
.footer .container-footer .container-links .menu li a:active,
.footer .container-footer .container-links .menu li a.active {
  color: #0c7cec;
}

